/* Background and Fonts */
body{
    background-color: #FAFAFA;
    color: #444;
    font-family: "Chivo", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25pt;
}
.header{
    background-color: #FAFAFA;
    color: #707070;
}
.footer{
    background-color: #FAFAFA;
    color: #707070;
}
.hello{
    color: black;
}

/* Navigation */
a:link{
    text-decoration: none;
    color: #707070;
}
a:hover {
    text-decoration:none;
    color: black !important;
    }
a:visited {
    text-decoration: none;
    color: #707070;
    }
.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 15px;
    /* border: 1px solid red; */
}
.logo{
    font-family: "Chivo", sans-serif;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    margin-right: auto;
}
.navbar li{
    list-style: none;
    display: inline-block;
    margin: 0 20px 0 40px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* border: 1px solid orange; */
}
.navbar li:hover {
    color: black;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0px 30px;
    /* border: 1px solid red; */
}
.footer li{
    list-style: none;
    display: inline-block;
    margin: 0px 75px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* border: 1px solid orange; */
}
.footer li:hover {
    color: black;
}

/* CSS Grids and Flexbox */
.container{
        display:grid;
        grid-template-columns: 1.5fr 1fr 0.5fr;
        grid-template-rows: 75px 480px 480px 75px;
        grid-template-areas: 
        "hd hd hd"
        "hero hero hero"
        "img me blank"
        "ft ft ft";
    }
.box{
    width: auto;
    height: auto;
    /* border: 1px solid red; */
}
#one{
    grid-area: hd;
}
#two{
    grid-area: hero;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/nihei.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: fuchsia;
}
#three{
    grid-area: me;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#four{
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/dio.png");
    background-size: 450px 400px;
    background-repeat: no-repeat;
    background-position: center;
    color: fuchsia;
}
#five{
    grid-area: ft;
}